body {
  font-family: "Montserrat", Arial, sans-serif;
  background: #FFF;
  font-weight: 400;
  font-size: 16px;
  color: #444;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}


a {
  color: #444;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color .3s ease-in-out;
  -moz-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

a:hover {
  color: #B52E31 !important;
}

.hidden {
  display: none;
}

.not-visible {
  visibility: hidden;
}

.center {
  text-align: center;
}

/* todo and stuff page */
body.todo-container,
body.stuff-container {
  display: grid;
  grid-template-rows: 20px 100px min-content;
  grid-template-areas:
    "top"
    "header"
    "main";
}

body.todo-container .header,
body.stuff-container .header {
  grid-area: header;
}

body.todo-container .header a,
body.stuff-container .header a {
  display: block;
}

body.todo-container .header h3,
body.stuff-container .header h3 {
  margin: 10px;
}
