// Variables
$white: #F0F0F0;
$grey: #AAA;
$red: #CD5353;
$black: #444;
body {
    font-family: "Montserrat", Arial, sans-serif;
    background: $white;
    font-weight: 400;
    font-size: 16px;
    color: $black;
    border-top: 6px solid $red;
    margin: 0;
}

a {
    color: $black;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
    &:hover {
        color: $red !important;
    }
}

#landing-main {
    position: absolute;
    left: 0;
    width: 320px;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-left: -160px;
    margin-top: -120px;
    #brand {
        display: block;
        font-size: 2em;
        margin-top: 0.67em; // margin-bottom: 0.67em;
        margin-left: 0;
        margin-right: 0;
        color: $grey;
        a.brand-link {
            color: $grey;
            font-size: 20px;
        }
        span.brand-main {
            color: $red;
        }
    }
    #tag-line {
        margin-top: 0px;
    }
    .social-link {
        font-size: 20px;
        margin: 0 7px;
    }
}
